.header {
  width: 100%;
  height: 4.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 var(--space-xl);
  border-bottom: var(--border-default);

  box-shadow: var( --shadow-card);
}

.header__actions {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.header__actions button {
  display: flex;
  align-items: center;

  width: 2.2rem;
  height: 2.2rem;

  color: white;

  background-color: var(--surface);
  border-radius: var(--radius-md);
  border: var(--border-default);

  padding: var(--space-sm);
  transition: var(--transition-fast);
}

.header__actions button:hover {
  background: var(--sidebar);
}

.header__info h4 {
  font-size: 1.1rem;
}

.header__info p {
  font-size: 0.8rem;
}