.header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 var(--space-lg);
  margin-top: var(--space-md);
  border-bottom: var(--border-default);
}

.header__actions {
  display: flex;
  align-items: center;

  gap: var(--space-md);
}

.header__actions button {
  display: flex;
  align-items: center;

  width: 2.2rem;
  height: 2.2rem;

  color: white;

  background-color: var(--surface);
  border-radius: var(--radius-md);
  border: var(--border-default);

  padding: var(--space-sm);
}