.sidebar {
  width: var(--sidebar-width);
  background-color: var(--sidebar);
  border: var(--border-default);

  position: relative;
}

.sidebar__logo {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  padding: var(--space-sm);
  margin-top: 16px;
}

.sidebar__logo img {
  padding: var(--radius-sm);
  background-color: var(--primary);
  border-radius: var(--radius-lg);
}

.sidebar__logo span {
  color: var(--text-secondary);
}

.sidebar__list {
  padding: var(--space-md);
}

.sidebar__item {
  margin-bottom: var(--space-xs);
}

.sidebar__link {
  display: flex;
  align-items: center;
  gap: var(--space-sm);

  padding: var(--space-sm) var(--space-md); /*em cima --space-sm, nas laterais --space-md*/
  border-radius: var(--radius-md);

  color: var(--text-secondary);
  transition: var(--transition-fast);
}

.sidebar__link:hover {
  color: var(--text);
  background-color: var(--surface);
}

.sidebar__link--active {
  color: var(--text);
  background-color: var(--surface);
}

.sidebar__link--active span {
  color: var(--primary);
}

.sidebar__icon {
  width: 18px;
  height: 18px;
}

.sidebar__link--active .sidebar__icon {
  color: var(--primary);
}

.sidebar__avatar {
  position: absolute;

  left: var(--space-lg);
  right: var(--space-lg);
  bottom: var(--space-lg);
  
  padding: var(--space-sm);

  background: var(--surface);

  border-radius: var(--radius-xl);
  border: var(--border-default);
}

.sidebar__avatar h4 {
  font-size: 0.95rem;
}

.sidebar__avatar p {
  font-size: 0.8rem;
}
